* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 876px) {
  .col-md-1 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-2 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-3 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-4 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-5 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-6 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-7 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-8 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-md-9 {
    flex: 0 0 auto !important;
    width: 75% !important;
  }
  .col-md-10 {
    flex: 0 0 auto !important;
    width: 83.333333% !important;
  }
  .col-md-11 {
    flex: 0 0 auto !important;
    width: 91.666667% !important;
  }
  .col-md-12 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #efefef;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.checkbox-container input {
  margin-right: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.large-text {
  font-size: 18px;
}

.medium-text {
  font-size: 16px;
}

.small-text {
  font-size: 13px;
}

.kcb {
  width: 18px;
  height: 18px;
}

.highlighted {
  stroke: #4481d7 !important;
  stroke-width: 3px !important;
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.category-button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.category-button:hover {
  background-color: #218838;
}

.category-button.applied {
  background-color: #007bff;
}

.category-button.applied:hover {
  background-color: #0056b3;
}

.main_foreignObject2 .kcb {
  display: none;
}

.main_foreignObject2 .checkbox-container {
  display: block;
  text-align: center;
}

foreignObject div.diseases_main {
  background-color: rgb(214, 39, 40);
  color: #fff;
}

foreignObject div.proteins_main {
  background-color: rgb(255, 127, 14);
  color: #fff;
}

foreignObject div.genes_main {
  background-color: rgb(44, 160, 44);
  color: #fff;
}

foreignObject div.chemicals_main {
  background-color: rgb(148, 103, 189);
  color: #fff;
}

foreignObject div.drugs_main {
  background-color: rgb(140, 86, 75);
  color: #fff;
}

.highlighted {
  stroke: red;
  stroke-width: 3px;
}

.controls-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.control-button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.control-button:hover {
  background-color: #0056b3;
}

.background-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  text-align: center;
  pointer-events: none;
  z-index: -1;
}

.background-text h1 {
  font-family: Arial;
  font-size: 150px;
  color: black;
  opacity: 0.1;
  margin: 0;
}

.background-text p {
  font-family: Arial;
  font-size: 25px;
  color: black;
  opacity: 0.2;
  margin: 0;
}

.download-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.download-button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.download-button:hover {
  background-color: #218838;
}

.search-content-section {
  border-radius: 8px;
  padding: 20px;
}
.content-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section .data-content {
  padding: 10px;
  border-radius: 20px;
}

.d3-svg-section {
  min-height: 600px;
}

.d3-svg-section {
  width: 100%;
  /* height: 100%; */
  display: block;
}

.category-select-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.custom-select {
  position: relative;
}

.select-toggle {
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.select-dropdown .dropdown-button {
  background-color: #0056b3;
  border: none;
  margin: 3px;
  border-radius: 6px;
  padding: 5px 12px;
  color: #fff;
}

.select-dropdown.down {
  top: 100%;
  margin-top: 5px;
}

.select-dropdown.up {
  bottom: 100%;
  margin-bottom: 5px;
}

.custom-select {
  position: relative;
}

.select-dropdown .select-toggle {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.checkbox-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

/* Bottom-right control buttons row */
.control-row {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  gap: 10px;
}

.circle-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle-button:hover {
  background-color: #0056b3;
}

.circle-button.green {
  background-color: #28a745;
}

.circle-button.green:hover {
  background-color: #218838;
}

/* ============ search============ */
/* Search Wrapper */
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.search-wrapper input {
  width: 100%;
}

/* Search Icon Inside Input */
.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  font-size: 20px;
}

.suggestion-badge .badge {
  padding: 2px 4px;
  margin-left: 6px;
}

/* Custom Input Styling */
.custom-search-input {
  padding-left: 40px !important;
  border-radius: 8px !important;
  border: 1px solid #6a6969 !important;
  box-shadow: none;
  height: 45px;
  border-radius: 30px !important;
}

/* Optional: Focused style */
.custom-search-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.15);
}

/* sidebar */
.sidebar-menu .list-group-item {
  padding: 8px 10px;
  background-color: transparent;
  transition: background-color 0.3s;
  margin: 6px 0px;
  border-radius: 30px !important;
}

.sidebar-menu .list-group-item.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
}

.sidebar-menu .list-group-item.active .custom-radio-style span {
  color: #fff;
}

.sidebar-menu ul ul .list-group-item {
  background-color: transparent !important;
  color: inherit;
}

.sidebar-menu ul ul {
  padding-left: 20px;
}

.custom-radio-style input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
}

.sidebar-menu .list-group-item.active .custom-radio-style span {
  color: #fff;
}

.custom-radio-style input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #007bff;
}

.nodes-count-section {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.node-head {
  color: #3535f2;
  font-weight: 600;
}
.nodes-count {
  background-color: #3535f2;
  padding: 4px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}
.nodes-count span {
  color: #fff;
}

.nodes-count .node-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

/* ============ years selection section ======== */

.year-select-section {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.years-count {
  background-color: #3535f2;
  padding: 4px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}
.years-count span {
  color: #fff;
  font-size: 14px;
  margin: 0px 2px;
}

.years-count .year-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (min-width: 825px) and (max-width: 1024px) {
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }

  .background-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; /* horizontal center */
    text-align: center;
    pointer-events: none;
    z-index: -1;
  }

  .background-text h1 {
    font-family: Arial;
    font-size: 130px;
    color: black;
    opacity: 0.1;
    margin: 0;
  }

  .background-text p {
    font-family: Arial;
    font-size: 25px;
    color: black;
    opacity: 0.2;
    margin: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }

  .background-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; /* horizontal center */
    text-align: center;
    pointer-events: none;
    z-index: -1;
  }

  .background-text h1 {
    font-family: Arial;
    font-size: 50px;
    color: black;
    opacity: 0.1;
    margin: 0;
  }

  .background-text p {
    font-family: Arial;
    font-size: 16px;
    color: black;
    opacity: 0.2;
    margin: 0;
  }

  .category-select-container {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
  }

  .control-row {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
    display: flex;
    gap: 5px;
  }

  .circle-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .select-toggle {
    color: #fff;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .background-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; /* horizontal center */
    text-align: center;
    pointer-events: none;
    z-index: -1;
  }

  .background-text h1 {
    font-family: Arial;
    font-size: 50px;
    color: black;
    opacity: 0.1;
    margin: 0;
  }

  .background-text p {
    font-family: Arial;
    font-size: 16px;
    color: black;
    opacity: 0.2;
    margin: 0;
  }

  .category-select-container {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
  }

  .control-row {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
    display: flex;
    gap: 5px;
  }

  .circle-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .select-toggle {
    color: #fff;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 350px) and (max-width: 425px) {
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .background-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; /* horizontal center */
    text-align: center;
    pointer-events: none;
    z-index: -1;
  }

  .background-text h1 {
    font-family: Arial;
    font-size: 50px;
    color: black;
    opacity: 0.1;
    margin: 0;
  }

  .background-text p {
    font-family: Arial;
    font-size: 16px;
    color: black;
    opacity: 0.2;
    margin: 0;
  }

  .category-select-container {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
  }

  .control-row {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
    display: flex;
    gap: 5px;
  }

  .circle-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .select-toggle {
    color: #fff;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .background-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; /* horizontal center */
    text-align: center;
    pointer-events: none;
    z-index: -1;
  }

  .background-text h1 {
    font-family: Arial;
    font-size: 50px;
    color: black;
    opacity: 0.1;
    margin: 0;
  }

  .background-text p {
    font-family: Arial;
    font-size: 16px;
    color: black;
    opacity: 0.2;
    margin: 0;
  }

  .category-select-container {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
  }

  .control-row {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 10;
    display: flex;
    gap: 5px;
  }

  .circle-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .select-toggle {
    color: #fff;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
  }
}
